<form>
  <div class="login-container">
    <div class="login-controls-container">
      <h3>Login</h3>
      <mat-form-field>
        <input matInput type="text" disabled="true" value="mocked@login.com" />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          type="password"
          disabled="true"
          value="iuhfsdfs7877df8sfhh"
        />
      </mat-form-field>
      <button class="login-button" mat-raised-button (click)="login()">
        Login
      </button>
    </div>
  </div>
</form>
